In [2]:
2025-State-Individual-Income-Tax-Rates-and-Brackets-2025.xlsx

SyntaxError: invalid decimal literal (853107839.py, line 1)

In [ ]:
pip install pandas openpyxl matplotlib seaborn

Requirement already satisfied: pandas in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (3.1.5)
Requirement already satisfied: matplotlib in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Replace with your file path
file_path = "2025-State-Individual-Income-Tax-Rates-and-Brackets-2025.xlsx"

# Load the sheet (you can pass a sheet name or index)
df = pd.read_excel(file_path, sheet_name=0)  # Use sheet_name=None to list all sheets

In [5]:
# View column names and structure
print(df.columns)
df.head(100)

Index(['Unnamed: 0', 'Single Filer', 'Unnamed: 2', 'Unnamed: 3',
       'Married Filing Jointly', 'Unnamed: 5', 'Unnamed: 6',
       'Standard Deduction', 'Unnamed: 8', 'Personal Exemption', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

,Unnamed: 0,Single Filer,Unnamed: 2,Unnamed: 3,Married Filing Jointly,Unnamed: 5,Unnamed: 6,Standard Deduction,Unnamed: 8,Personal Exemption,Unnamed: 10,Unnamed: 11
0,State,Rates,NaN,Brackets,Rates,NaN,Brackets,Single,Couple,Single,Couple,Dependent
1,Ala.,0.02,>,0,0.02,>,0,3000,8500,1500,3000,1000
2,"(a, b, c)",0.04,>,500,0.04,>,1000,NaN,NaN,NaN,NaN,NaN
3,NaN,0.05,>,3000,0.05,>,6000,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,"(d, bb, cc, oo)",0.068,>,32570,0.068,>,47620,NaN,NaN,NaN,NaN,NaN
96,NaN,0.0785,>,106990,0.0785,>,189180,NaN,NaN,NaN,NaN,NaN
97,NaN,0.0985,>,198630,0.0985,>,330410,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Miss.,0.044,>,10000,0.044,>,10000,2300,4600,6000,12000,1500

## üìä State Income Tax Dataset Overview

This dataset, sourced from the Tax Foundation, outlines **state-level individual income tax brackets**, **standard deductions**, and **personal exemptions** across the U.S.

### üß± Column Structure

The original dataset contains 12 columns, with some unnamed due to Excel formatting issues (e.g., merged cells). Here's what the key columns represent:

| Column | Description |
|--------|-------------|
| `Unnamed: 0` | **State name** or footnote references (e.g., `(a, b, c)`) |
| `Single Filer`, `Unnamed: 2`, `Unnamed: 3` | **Tax rate** and **bracket threshold** for single filers |
| `Married Filing Jointly`, `Unnamed: 5`, `Unnamed: 6` | **Tax rate** and **bracket threshold** for joint filers |
| `Standard Deduction`, `Unnamed: 8` | Standard deduction for **single** and **couple** |
| `Personal Exemption`, `Unnamed: 10`, `Unnamed: 11` | Exemptions for **single**, **couple**, and **dependents** |

### üßæ Sample Row Breakdown

Example from the dataset:


### ‚ö†Ô∏è Data Cleanup Notes

- Some rows have footnote references or partial data (`(a, b, c)`), not actual state names.
- `NaN` values are used to continue tax bracket entries from previous rows.
- Column names should be renamed for clarity.
- State names need to be forward-filled to align rows with their respective states.

### ‚úÖ Next Steps

- Clean and reformat the dataset.
- Rename columns meaningfully.
- Group bracket information per state into structured rows for easier access.

In [6]:
# Step 2: Save as CSV
csv_path = "state_income_tax_2025.csv"
df.to_csv(csv_path, index=False)

print(f"‚úÖ CSV saved to: {csv_path}")

‚úÖ CSV saved to: state_income_tax_2025.csv

## üóÇÔ∏è What‚Äôs in this CSV?

You‚Äôve exported the raw Excel sheet exactly as it appeared, so you‚Äôre seeing:

1. **Header rows**  
   - **Row‚ÄØ1**: The literal column names, many of which are `Unnamed: X` because the original had merged/formatted cells.  
   - **Row‚ÄØ2**: A ‚Äúsub‚Äëheader‚Äù that actually reminds you what each column means (e.g. ‚ÄúRates‚Äù, ‚ÄúBrackets‚Äù, ‚ÄúSingle‚Äù, ‚ÄúCouple‚Äù, etc.).

2. **Data rows for each state**  
   - **State name rows** (in the first column) ‚Äî e.g. `Ala.`, `Alaska`, `Ariz. (e, f, u)`, etc.  
   - **Bracket rows** with rate/threshold pairs.  A state‚Äôs first bracket appears on the same row as its name; subsequent brackets for the same state appear on rows where ‚ÄúUnnamed:‚ÄØ0‚Äù is blank.  
   - **Standard Deduction** and **Personal Exemption** columns are filled only on the state‚Äôs ‚Äúname‚Äù row (they‚Äôre empty on the continuation rows).

3. **Blank separator rows**  
   - After each state‚Äôs data there‚Äôs one or more blank rows (`,,,,,,,,,,,`) because the original Excel sheet had spacing between states.

4. **Footnote rows**  
   - The very long quoted entries at the bottom (`"(a) Local income taxes are excluded‚Ä¶", "(b) These states allow‚Ä¶", ‚Ä¶`) are the explanatory notes from the Tax Foundation.  They‚Äôre attached here as extra rows.

---

## üîç How to Interpret a Sample Entry

Take **Alabama** as an example:

| Unnamed:‚ÄØ0 | Single Filer | Unnamed:‚ÄØ2 | Unnamed:‚ÄØ3 | Married Filing Jointly | Unnamed:‚ÄØ5 | Unnamed:‚ÄØ6 | Standard Deduction | Unnamed:‚ÄØ8 | Personal Exemption | Unnamed:‚ÄØ10 | Unnamed:‚ÄØ11 |
|------------|--------------|------------|------------|------------------------|------------|------------|--------------------|------------|--------------------|-------------|-------------|
| Ala.       | 0.02         | `>`        | 0          | 0.02                   | `>`        | 0          | 3000               | 8500       | 1500               | 3000        | 1000        |
| *(a, b, c)*| 0.04         | `>`        | 500        | 0.04                   | `>`        | 1000       |                    |            |                    |             |             |
| ‚Äî          | 0.05         | `>`        | 3000       | 0.05                   | `>`        | 6000       |                    |            |                    |             |             |

- **Row‚ÄØ1** (Ala.):  
  - **Single filers** pay 2% on _all_ income above \$0  
  - **Married‚Äëjoint filers** pay 2% on _all_ income above \$0  
  - **Standard deduction**: \$3,000 (single) or \$8,500 (couple)  
  - **Personal exemption**: \$1,500 (single), \$3,000 (couple), \$1,000 (dependent)

- **Row‚ÄØ2 & 3**:  
  - Additional brackets: 4% over \$500 / \$1,000, then 5% over \$3,000 / \$6,000.

---

## üìà High‚ÄëLevel Observations

- **No state‚Äëlevel income tax**:  
  - States marked `none` (with ‚Äún.a.‚Äù for deductions/exemptions) include Alaska, Florida, Nevada, South Dakota, Tennessee, Texas, Washington*, Wyoming.

- **Progressive brackets**:  
  - Almost every other state uses a _tiered_ structure‚Äîrates rise as income exceeds successive thresholds.

- **Standard deductions** vary widely:  
  - From as little as \$2,700 (Connecticut) up to \$15,000 or more (Arizona, North Dakota).

- **Personal exemptions** come in two flavors:  
  - A straight dollar amount (e.g. \$2,400),  
  - Or a _tax credit_ (e.g. ‚Äú\$149 credit‚Äù in California).

- **Footnotes**:  
  - Special rules (inflation indexing, credit‚Äëvs‚Äëdeduction treatments, phase‚Äëout formulas) are all buried in the quoted footnote rows.

---

## üöß Next Steps (Cleaning & Restructuring)

1. **Drop** the extra header/sub‚Äëheader row (Row‚ÄØ2).  
2. **Remove** purely blank rows (`Unnamed:‚ÄØ0` blank _and_ all other columns blank).  
3. **Separate** footnote rows (move them out into a dedicated lookup table).  
4. **Forward‚Äëfill** the state name down into its bracket rows.  
5. **Unpivot** (melt) the bracket columns so each row is one `(state, filing_status, rate, threshold)` record.  
6. **Rename** columns for clarity:  
   - `single_rate`, `single_threshold`, `married_rate`, `married_threshold`, `std_deduction_single`, etc.

Once you‚Äôve done that, you‚Äôll have a clean, analysis‚Äëready table of every state‚Äôs bracket structure, deductions, and exemptions. Let me know if you‚Äôd like the Python code to perform these steps!

## üîç Lookup Tax Data by State

The code below will:

1. **Normalize** the state‚Äëname column by forward‚Äëfilling and stripping off any footnote markers.  
2. **Define** a helper function `display_state_info()` that filters your DataFrame for a given state name (case‚Äëinsensitive).  
3. **Display** all bracket rows, standard deductions, and personal exemptions for that state.

In [9]:
# 1Ô∏è‚É£ Normalize and forward‚Äëfill state names
df['state'] = (
    df['Unnamed: 0']
      .ffill()                                      # fill down the state name
      .str.replace(r'\s*\(.*$', '', regex=True)     # remove any "(a, b, ‚Ä¶)" footnote markers
      .str.strip()                                  # trim whitespace
)

# 2Ô∏è‚É£ Define lookup function
from IPython.display import display

def display_state_info(state_name: str):
    """Filter the tax DataFrame for a given state and display all rows."""
    mask = df['state'].str.lower() == state_name.lower()
    subset = df.loc[mask]
    if subset.empty:
        print(f"‚ö†Ô∏è  No data found for '{state_name}'.")
    else:
        display(subset)

# 3Ô∏è‚É£ Example usage
display_state_info('Ala.')   # or 'alaska', 'california', etc.

,Unnamed: 0,Single Filer,Unnamed: 2,Unnamed: 3,Married Filing Jointly,Unnamed: 5,Unnamed: 6,Standard Deduction,Unnamed: 8,Personal Exemption,Unnamed: 10,Unnamed: 11,state
1,Ala.,0.02,>,0,0.02,>,0,3000,8500,1500,3000,1000,Ala.

In [12]:
import pandas as pd
from IPython.display import display

def get_state_tax_info(df: pd.DataFrame, state_name: str) -> pd.DataFrame:
    """
    Return a DataFrame with all tax brackets, standard deductions,
    and personal exemptions for the given state.
    
    Parameters
    ----------
    df : pd.DataFrame
        Raw DataFrame loaded directly from the CSV or Excel export,
        with columns like 'Unnamed: 0', 'Single Filer', etc.
    state_name : str
        Name of the state to look up (case‚Äêinsensitive).
    
    Returns
    -------
    pd.DataFrame
        Filtered DataFrame containing every row (brackets + deductions)
        for that state.
    """
    # 1) Copy and normalize the 'Unnamed: 0' column into a clean 'state' column
    df_clean = df.copy()
    df_clean['state'] = (
        df_clean['Unnamed: 0']
          .ffill()                                      # fill down missing names
          .str.replace(r'\s*\(.*$', '', regex=True)     # strip footnote markers
          .str.strip()                                  # trim whitespace
    )
    
    # 2) Filter for the requested state (case‚Äêinsensitive)
    mask = df_clean['state'].str.lower() == state_name.lower()
    result = df_clean.loc[mask]
    
    return result

def display_state_info(df: pd.DataFrame, state_name: str) -> None:
    """
    Look up a state and display its tax info inline.
    """
    info = get_state_tax_info(df, state_name)
    if info.empty:
        print(f"‚ö†Ô∏è  No data found for '{state_name}'.")
    else:
        display(info)