In [ ]:
2025-State-Individual-Income-Tax-Rates-and-Brackets-2025.xlsx

In [1]:
pip install pandas openpyxl matplotlib seaborn

Requirement already satisfied: pandas in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (3.1.5)
Requirement already satisfied: matplotlib in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\ryan\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Replace with your file path
file_path = "2025-State-Individual-Income-Tax-Rates-and-Brackets-2025.xlsx"

# Load the sheet (you can pass a sheet name or index)
df = pd.read_excel(file_path, sheet_name=0)  # Use sheet_name=None to list all sheets

In [5]:
# View column names and structure
print(df.columns)
df.head()

Index(['Unnamed: 0', 'Single Filer', 'Unnamed: 2', 'Unnamed: 3',
       'Married Filing Jointly', 'Unnamed: 5', 'Unnamed: 6',
       'Standard Deduction', 'Unnamed: 8', 'Personal Exemption', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

,Unnamed: 0,Single Filer,Unnamed: 2,Unnamed: 3,Married Filing Jointly,Unnamed: 5,Unnamed: 6,Standard Deduction,Unnamed: 8,Personal Exemption,Unnamed: 10,Unnamed: 11
0,State,Rates,NaN,Brackets,Rates,NaN,Brackets,Single,Couple,Single,Couple,Dependent
1,Ala.,0.02,>,0,0.02,>,0,3000,8500,1500,3000,1000
2,"(a, b, c)",0.04,>,500,0.04,>,1000,NaN,NaN,NaN,NaN,NaN
3,NaN,0.05,>,3000,0.05,>,6000,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN